.row{
    justify-content: start;
    column-gap: 24px;

}

a{
    display: grid;
    align-items: center;

    svg{
        transition: .3s;
    }

    &:hover svg path{
        fill: #755ECD;
    }
}
