<section id="faq">

    <h2 class="fp">Frequently asked questions.</h2>
    <h2 class="mob"> F.A.Q. </h2>

    <div class="wrapper">

        <div class="card">
            <h3>Как я могу присоединиться к Vision Lab?</h3>
            <p>Vision Lab является лимитированным продуктом, поэтому купить подписку возможно только на специальных рестоках, которые проводятся в наших социальных сетях (VK, Twitter, Instagram) и группах-партнерах.</p>
        </div>

        <div class="card">
            <h3>Сколько стоит подписка на Vision Lab?</h3>
            <p>Вход в Vision Lab стоит 3000 рублей, далее 2000 рублей в месяц. В первый платеж уже включен 1 месяц подписки.</p>
        </div>

        <div class="card">
            <h3>Можно ли отменить подписку?</h3>
            <p>Если вас не устроит Vision Lab, отменить подписку можно в любое время</p>
        </div>

        <div class="card">
            <h3>Если я новичок в сфере, то подойдет ли мне Vision Lab?</h3>
            <p>Конечно, наша кук-группа отлично подходит как для начинающих, так и опытных юзеров. Мы обучим вас и ответим на все интересующие вопросы.</p>
        </div>
    </div>

</section>