<section>
    <h2>Features.</h2>

    <div class="wrapper">
        <div class="card">
            <div class="title">
                <img src="/assets/img/features-icons/link.png" alt="">
                <h3>Custom monitors</h3>
            </div>
            <p>Наша команда программистов предоставляет всем юзерам собственные быстрейшие мониторы на EU и RU сайты.</p>
        </div>
        <div class="card">
            <div class="title">
                <img src="/assets/img/features-icons/hand.png" alt="">
                <h3>One-On-One <br> Support</h3>
            </div>
            <p >Мы всегда готовы оказать вам индивидуальную поддержку практически по любому вопросу, будь то помощь с настройкой софта или совет по реализации вашей пары.</p>
        </div>
        <div class="card">
            <div class="title">
                <img src="/assets/img/features-icons/file.png" alt="">
                <h3>Release Guides</h3>
            </div>
            <p>К каждому релизу мы проводим подробный анализ и делимся с пользователями всей необходимой информацией, тем самым значительно увеличивая шансы на успешную покупку.</p>
        </div>
        <div class="card">
            <div class="title">
                <img src="/assets/img/features-icons/ul.png" alt="">
                <h3>Legit Checks</h3>
            </div>
            <p>В нашей команде так же присутствуют профессиональные легитчекеры, которые помогут вам убедиться в оригинальности какой-либо вещи.</p>
        </div>
    </div>
</section>